.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.img-container {
  flex: 0 0 35%;
  transition: transform 0.3s ease-in-out;
}
.img-container:hover {
  transform: scale(1.010);
}

.text-container {
  flex: 1;
  padding-left: 15%;
  font-size: large;
}

.text-container h1 {
  margin-bottom: 50px;
  text-align: left;
}

.text-container p {
  text-align: left;
  margin-right: 40%;
}

/* For screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    margin-left: 0;
    padding: 5%;
  }

  .text-container {
    margin: 0;
  }
}
